{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
             aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                 style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl py-32 sm:py-36 lg:py-36">
            <div class="text-center">
                <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Data to enrich your online
                    business</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui
                    irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
            </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-20rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-50rem)]"
             aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                 style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
    </div>
</div>

<main>
    <section>
        <div class="container mx-auto px-4">
            <ul class="hidden sub-menu-items sm:grid grid-cols-3 gap-4 text-sm lg:flex justify-between py-20">
                <li class="text-[#2c3136] hover:text-[#08a652]">
                    <a href="/" class="font-medium uppercase  transition-all duration-300">Все <br>Автомобили</a>
                </li>
                {% for i in categories %}
                <li class="text-[#2c3136] hover:text-[#08a652]">
                    <a href="?category={{ i.pk }}" class="font-medium uppercase  transition-all duration-300">{{ i.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <!--            list without br-->
            <ul class="sub-menu-items sm:hidden gap-5 text-base space-y-4">
                <li class="text-[#08a652]">
                    <a href="/" class="font-medium uppercase transition-all duration-300">Все автомобили</a>
                </li>
                {% for i in categories %}
                <li class="text-[#08a652]">
                    <a href="/?category={{ i.pk }}" class="font-medium uppercase transition-all duration-300">{{ i.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="brands-wrapper grid grid-cols-3 lg:grid-cols-12 mb-16 border-l">
                {% for i in companies %}
                <a href="/company/detail/{{ i.pk }}" class="brand-item cursor-pointer" data-count="{{ i.cars.all.count }}">
                    <div class="image-wrapper"><img src="{{ i.logo.url }}" alt="{{ i.title }}" width="60" height="45">
                    </div>
                    <div class="brand-name">{{ i.title }}</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="catalog" class="py-12 bg-gray-100">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold mb-8">Последние поступления</h2>
            <div class="grid grid-cols-1 sm:grid-cols-4 gap-8">
                {% for i in cars %}
                <div class="card bg-white pt-[15px] px-[15px] pb-7">
                    <div class="item-image relative mb-4">
                        <a href="/car/detail/{{ i.pk }}/">
                            <img class="block w-full max-w-[252px] max-h-[190px]" src="{{ i.images.first.images.url }}"
                                 alt="">
                        </a>
                    </div>
                    <div class="item-name">
                        <a class="text-[#2c3136] cursor-pointer hover:underline underline-offset-2" href="">{{ i.title }}</a>
                    </div>
                    <div class="item-price mb-2.5">
                        <span class="text-[#2c3136] font-bold">{{ i.price }} $</span>
                        <span class="inline-block ml-4 text-[#8f8f8f] text-sm">{{ i.price }} с</span>
                    </div>
                    <ul class="property-list flex justify-between items-center border-y border-[#dddddd] py-3">
                        <li class="text-[13px]">{{ i.year }} г.</li>
                        <li class="text-[13px]">{{ i.mileage }} км.</li>
                        <li class="text-[13px]">{{ i.benz }} л.</li>
                        <li class="text-[13px]">{{ i.power }} л.c.</li>
                    </ul>
                    <a href="/car/detail/{{ i.pk }}/" class="w-full block cursor-pointer mt-4 text-white text-center bg-[#1ab530] font-semibold leading-10 hover:bg-green-600 transition-colors">Подробнее</a>
                </div>
                {% endfor %}
            </div>
            <!--  pagination  -->
            <div class="text-center">
    <div class="inline-flex p-4 mb-12 bg-white border rounded-xl border-stroke ">
        <ul class="-mx-[6px] flex items-center">
            {% if page_obj.has_previous %}
            <li class="px-[6px]">
                <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-9 w-9 border-stroke dark:border-dark-3 text-body-color hover:text-[#1ab530]">
                    <span>
                        <!-- SVG for left arrow here -->
                    </span>
                </a>
            </li>
            {% endif %}

            {% for num in paginator.page_range %}
            <li class="px-[6px]">
                <a href="?page={{ num }}" class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-9 w-9 border-stroke hover:text-[#1ab530]">
                    {{ num }}
                </a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="px-[6px]">
                <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-9 w-9 border-stroke hover:text-[#1ab530]">
                    <span>
                        <!-- SVG for right arrow here -->
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

        </div>
        </div>
    </section>
</main>
{% endblock  %}